
body {
  overflow-x: hidden;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #3C3A38;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #0000FF;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #0000FF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:"europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.img-centered {
  margin: 0 auto;
}

.container{
  padding-right: 30px;
  padding-left: 30px;
}

header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #3C3A38;
}
header .intro-text-top {
  padding-top: 70px;
  padding-bottom: 0px;
}
header .intro-text-bottom {
  padding-top: 0px;
  padding-bottom: 0px;
}
header .line {
  margin-top: 60px;
  margin-bottom: 58px;
  width: 66px;
  border-bottom: 2px solid #3C3A38;
  display: inline-block;
}
header .title {
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 1.1em;
  margin-bottom: 16px;
  letter-spacing: 0.18em;
  font-weight: 700;
}
header .title-secondary {
  font-family: "Sabon LT W01 Roman", "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.09em;
}
header .contact {
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
  font-weight: 400;
}
header .soon {
  font-family: "Sabon LT W01 Roman", "Times New Roman", Times, serif;
  font-size: 18px;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 10px;
}
@media (min-width: 500px) {
  header .intro-text-top {
    padding-top: 200px;
    padding-bottom: 0px;
  }
  header .title {
    font-family: "europa","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 1em;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    font-weight: 700;
  }

@media (min-width: 768px) {
  header .intro-text-top {
    padding-top: 103px;
    padding-bottom: 0px;
  }
  header .intro-text-bottom {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  header .line {
    margin-top: 130px;
    margin-bottom: 100px;
    width: 130px;
    border-bottom: 2px solid #3C3A38;
    display: inline-block;
  }
  header .title {
    font-family: "europa","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 47px;
    letter-spacing: 0.15em;
    margin-bottom: 30px;
    font-weight: 700;
  }
  header .title-secondary {
    font-family: "Sabon LT W01 Roman", "Times New Roman", Times, serif;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0.07em;
  }
  header .contact {
    font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    font-weight: 400;
  }
  header .soon {
    font-family: "Sabon LT W01 Roman", "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    line-height: 40px;
    letter-spacing: 0.05em;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .rwd-break { display: none; }
  header .intro-text-top {
    padding-top: 150px;
    padding-bottom: 0px;
  }
  header .intro-text-bottom {
    padding-top: 0px;
    padding-bottom: 0px;
  }

img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}
